/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* Prevent white space on the right side to appear when screensize is small */
html, body {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     /* Default font style */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 62.5%;
     background: rgb(246, 243, 244);
}

/******************************************
/* LAYOUT AND DESIGNS
/*******************************************/

section {
     /* Center all elements on top of each other */
     display: flex;
     flex-direction: column;
     align-items: center;
     /* Fix width and position box in center */
     width: 400px;
     margin: 0 auto;
     margin-top: 5rem;
     /* Give border */
     border: 2px solid gray;
     border-radius: 10px;
     /* Set spacings */
     padding: 2%;
}

button {
     /* Set typography */
     color: white;
     /* Set spacings */
     margin: 2% 0;
     padding: 2% 3%;
     /* Set width */
     width: 150px;
     /* Set border */
     border: none;
     border-radius: 5px;
     font-size: 1.5rem;
}
button#incrementBtn {
     /* Set background color */
     background: maroon;
}
button#saveBtn {
     /* Set background color */
     background: darkgreen;
}
h1 {
     /* Set spacing */
     margin: 2%;
     font-size: 3rem;
}
h2 {
     /* Set spacing */
     margin: 5%;
     /* Set typography */
     font-size: 3rem;
}
p {
     /* Set spacing */
     margin: 5%;
     font-size: 1.8rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************
/* HEADER
/*******************************************/

ul {
     padding: 0;
     margin: 0;
}
a {
     text-decoration: none;
}
.container {
     width: 80%;
     margin: 5rem auto;
}
.containerOutside {
     padding: 2rem;
}
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.containerNav {
     width: 90%;
     margin: 1rem auto 0 auto;
}
.socials {
     display: flex; 
     list-style-type: none;
     gap: 2rem;
}
.socials i {
     color: rgb(40, 23, 27);
     font-size: 2rem;
}
.logo {
     width: 50%;
}
