html{
	background-color: #F8F8FF;
	color: #696969;
	font-family: 'Noto Sans Display', sans-serif;
}

main{
	padding-top: 3vw;
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 2vh;
}

p{

	text-align: center;
	font-size: .8em;

}

h2{
	font-size: 1.1em;
}


/* Nav styles */
#nav{
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #DCDCDC;
}

#nav-list{
	display: flex;
	list-style:  none;
	margin: 0;
}

#nav-list a{
	display: block;
	padding: 1vw 4vw 1vw 4vw;
	text-decoration: none;
	color: #696969;
}

#nav-list a:hover{
	background-color: #696969;
	color: #F8F8FF;
}
/* End of Nav styles */

/* Events styles */
img{
	width: 25vw;
}

.name{
	height: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.date-time{
	display: flex;
	justify-content: space-evenly;
	margin-top: -20px;
	margin-bottom: -10px;
	font-size: .9em;
}

.organizer{
	height: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: .7em;
	margin-top: 5px;
}

.more-info{
}


.entry{
	width: 27vw;
}

.rows{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2vh;
	margin-top: 4vh;
}

.blocks{
	margin-bottom: 5vh;
}

/* End of Events styles */






